<h1>TwitterLikeApp</h1>

<div class="h-75 d-block">
  <p>
    Welcome to home page of Twitter like app!
  </p>
</div>

<div class="h-75 d-block">
  <p>
    <%= link_to "Sign up", sign_up_path, class: "btn btn-lg btn-primary" %>
  </p>
</div>